name: Git Pull and Describe Tag

on:
  push:
    branches:
      - master

jobs:
  git_pull_and_describe:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Git Pull
      run: git pull origin master

    - name: Get Latest Tag
      id: latest_tag
      run: echo "::set-output name=tag::$(git describe --abbrev=0 --tags)"

