name: Docker Build and Push with Kustomize

on:
  push:
    branches:
      - master  # Adjust the branch name as needed

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Get Tags
      id: tags
      run: |
        git fetch --tags
        echo "Tags fetched"
    - name: Get Latest Tag
      id: latest-tag
      run: |
        export latest_tag=$(git describe --tags `git rev-list --tags --max-count=1`)
        echo "::set-output name=tag::$latest_tag"
    - name: Docker Build and Push
      env:
        TAG: ${{ steps.latest-tag.outputs.tag }}
      run: |
        # Your Docker build and push commands using Kustomize here
        # Replace <your-image-name> with your actual image name
        docker build -t gaurav112/myapp:${TAG} .
        docker push <your-image-name>:${TAG}
