name: Git Tag List

on:
  push:
    branches:
      - main # Change this to your desired branch

jobs:
  git-tag-list:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Pull latest code
      run: git pull origin main # Change the branch if needed

    - name: List Git Tags
      run: git tag --list
      id: tag_list

    - name: Print Tags
      run: echo "Tags: ${{ steps.tag_list.outputs.stdout }}"
