name: Get Latest Tag

on:
  push:
    branches:
      - master

jobs:
  get-latest-tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get Tags
        id: tags
        run: |
          git fetch --tags
          echo "Tags fetched"

      - name: Determine Latest Tag
        id: latest_tag
        run: |
          latest_tag=$(git describe --tags --abbrev=0 >/dev/null || echo "latest_tag")
          echo "Latest tag: $latest_tag"
          echo "VERSION=$latest_tag" >> $GITHUB_ENV

      - name: Export Version
        run: |
          echo "Exporting VERSION=$VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Echo Version
        run: |
          echo "Version: $VERSION"
